.footer-wrap {
  background-color: rgb(27, 27, 27);
  color: white;
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin-top: 1em;
  justify-content: center;
  position: relative;
}
.footer-wrap .top-wrap {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 1em;
  font-size: 1em;
}
.footer-wrap .top-wrap .totop {
  cursor: pointer;
}
.footer-wrap .top-wrap i {
  text-align: center;
  font-size: 2em;
  color: rgb(19, 133, 19);
}
.footer-wrap .top-wrap, .footer-wrap .center-wrap, .footer-wrap .bottom-wrap {
  display: flex;
  justify-content: center;
}
.footer-wrap .center-wrap {
  width: 70%;
  margin: auto;
  border: 2px white solid;
}
.footer-wrap .center-wrap h3 {
  color: rgb(19, 133, 19);
  font-weight: bold;
  font-size: 2em;
}
.footer-wrap .center-wrap .center-right {
  display: flex;
  flex-direction: column;
}
.footer-wrap .center-wrap .center-right li {
  list-style-type: none;
}
.footer-wrap .center-wrap .center-right li a {
  color: white;
  background-color: transparent;
}
.footer-wrap .center-wrap .center-right li a:hover {
  color: green;
  text-decoration: underline;
}
.footer-wrap .center-wrap .center-left, .footer-wrap .center-wrap .center-center, .footer-wrap .center-wrap .center-right {
  padding: 2em;
}
.footer-wrap .bottom-wrap {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}
.footer-wrap .bottom-wrap .bottom-left {
  padding: 2em;
}
.footer-wrap .bottom-wrap .bottom-left h3 {
  color: rgb(19, 133, 19);
}
.footer-wrap .bottom-wrap .bottom-right {
  display: flex;
}
.footer-wrap .bottom-wrap .bottom-right p {
  align-self: flex-end;
  padding: 2em;
}

@media (max-width: 800px) {
  .footer-wrap .center-wrap {
    border: none;
  }
  .bottom-wrap {
    flex-direction: column;
    text-align: center;
  }
  .bottom-wrap .bottom-right p {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 480px) {
  .footer-wrap {
    height: 120vh;
  }
  .center-wrap {
    flex-direction: column;
    text-align: center;
  }
}
* {
  margin: 0em;
  padding: 0em;
}

header {
  background-image: url("../assets/img/image1.jpg");
  background-position: center;
  height: 90vh;
  position: relative;
}
header .img-layer {
  background-color: black;
  opacity: 0.8;
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}
header .header-group {
  height: 90vh;
}
header .heading1 {
  position: absolute;
  font-size: 2em;
  color: white;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .heading2 {
  position: absolute;
  text-align: center;
  font-size: 3em;
  color: white;
  width: 100%;
  font-weight: bold;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .heading3 {
  position: absolute;
  color: white;
  font-size: 1.8em;
  width: 90%;
  text-align: center;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .heading4 {
  position: absolute;
  color: white;
  font-size: 1.8em;
  width: 90%;
  text-align: center;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .heading4 i {
  margin-right: 0.5em;
}
header .logo {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .nav {
  position: absolute;
  top: 65%;
  left: 50%;
  text-align: center;
  list-style-type: none;
  transform: translate(-50%, -50%);
}
header .nav li {
  padding: 0.5em;
}
header .nav a {
  font-size: 2.2em;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
header .nav a:hover {
  font-style: italic;
  color: rgb(19, 133, 19);
  transition: all 0.5s;
}

main {
  background-color: rgb(255, 255, 255);
  margin: 0.5em;
}
main .section {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding-bottom: 6%;
  padding-top: 6%;
}
main .title {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}
main .summary {
  font-size: 1.5em;
  width: 50%;
  margin: auto;
  padding: 0.5em;
}
main .btn {
  font-size: 2em;
  padding: 0.5em;
  width: 20%;
  margin: 1em;
  border: none;
  background-color: rgb(19, 133, 19);
  color: white;
}
main .btn:hover {
  cursor: pointer;
}
main .cross-btn {
  font-size: 2em;
  text-align: left;
  margin-left: 1em;
  margin-top: 0.8em;
}
main .cross-btn a {
  color: green;
}
main .home {
  background-color: rgb(234, 255, 237);
}
main .home h1 {
  padding-top: 1.5em;
  font-size: 4em;
  width: 90%;
  margin: auto;
  text-align: center;
}
main .home h2 {
  font-size: 2em;
  padding-top: 0.5em;
}
main .home h3 {
  font-size: 3em;
  padding-bottom: 1.5em;
  width: 90%;
  margin: auto;
}
main .home p {
  font-size: 2.25em;
  width: 50%;
  margin: auto;
  padding: 1em;
}
main .home img {
  margin-top: 0em;
  margin-bottom: 2em;
  background-color: black;
}
main .services .services-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
main .services .services-wrap .service {
  background-color: rgb(255, 255, 255);
  height: 20em;
  width: 20em;
  margin: 3em;
  border: 1px rgb(19, 133, 19) solid;
  border-radius: 1px;
  position: relative;
  box-shadow: 5px 5px rgb(19, 133, 19);
}
main .services .services-wrap .service .service-img {
  margin-top: 0.35em;
  font-size: 3em;
  color: rgb(19, 133, 19);
}
main .services .services-wrap .service h4 {
  margin-top: 0.5em;
  font-size: 2em;
  margin-bottom: 0.5em;
}
main .services .services-wrap .service p {
  width: 75%;
  margin: auto;
  font-size: 1.2em;
  margin-bottom: 1.5em;
}
main .services .services-wrap .service .service-btn {
  padding: 0.5em;
  background-color: rgb(19, 133, 19);
  color: white;
  width: 60%;
  margin-top: 3em;
  border: none;
  font-size: 1.5em;
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .services .services-wrap .service .service-btn:hover {
  cursor: pointer;
  background-color: rgb(14, 14, 14);
  transition: 0.5s;
  width: 250px;
}
@media (max-width: 420px) {
  main .services .services-wrap .service {
    height: 25em;
  }
}
main .pricing {
  background-color: rgb(234, 255, 237);
}
main .pricing .pricing-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .pricing .pricing-wrap .price-card {
  background-color: rgb(255, 255, 255);
  height: 20em;
  width: 20em;
  margin: 3em;
  border: 1px rgb(19, 133, 19) solid;
  border-radius: 1px;
  position: relative;
  box-shadow: 5px 5px rgb(19, 133, 19);
}
main .pricing .pricing-wrap .price-card .price-img {
  margin-top: 0.35em;
  font-size: 3em;
  color: rgb(19, 133, 19);
}
main .pricing .pricing-wrap .price-card h4 {
  margin-top: 0.5em;
  font-size: 2.4em;
  padding: 0.3em;
  margin-bottom: 0.2em;
  height: 47px;
  color: black;
}
main .pricing .pricing-wrap .price-card p {
  width: 75%;
  margin: auto;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
main .pricing .pricing-wrap .price-card .service-btn {
  padding: 0.5em;
  background-color: rgb(19, 133, 19);
  color: white;
  width: 60%;
  margin-top: 3em;
  border: none;
  font-size: 1.5em;
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .pricing .pricing-wrap .price-card .service-btn:hover {
  cursor: pointer;
  background-color: rgb(14, 14, 14);
  transition: 0.5s;
  width: 250px;
}
main .testimonials {
  background-color: rgb(255, 255, 255);
}
main .testimonials .testimonials-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .testimonials .testimonials-wrap .testimonial {
  background-color: white;
  margin: 3em;
  padding: 1.2em;
  width: 23em;
  height: 26em;
  position: relative;
  border: 1px green solid;
  box-shadow: 5px 5px rgb(19, 133, 19);
}
main .testimonials .testimonials-wrap .testimonial .testimonial-img {
  font-size: 3em;
  color: green;
}
main .testimonials .testimonials-wrap .testimonial .testimonial-content > p {
  margin-top: 0.5em;
  padding: 0.2em;
  font-style: italic;
}
main .testimonials .testimonials-wrap .testimonial .testimonial-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  bottom: 5%;
}
main .testimonials .testimonials-wrap .testimonial .testimonial-details .testimonial-pic > img {
  border-radius: 50%;
  margin-top: 1em;
}
@media (max-width: 490px) {
  main .testimonials .testimonials-wrap .testimonial {
    height: 28em;
  }
}
main .gallery {
  background-color: rgb(234, 255, 237);
}
main .gallery .year-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
main .gallery .year-wrap .gallery-year {
  font-size: 1.5em;
  margin: 0.2em;
  padding: 0.2em;
  width: 6em;
  color: rgb(19, 133, 19);
  background-color: rgb(234, 255, 237);
  cursor: pointer;
  border: 2px rgb(19, 133, 19) solid;
}
main .gallery .year-wrap .gallery-year:hover {
  background-color: rgb(19, 133, 19);
  color: white;
  transition: 0.5s;
}
main .gallery .portfolio-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5em;
}
main .gallery .portfolio-wrap .item > img {
  margin: 0.3em;
  transition: 1s;
}
main .gallery .portfolio-wrap .item:hover {
  opacity: 0.6;
  transition: 0.5s;
}
@media (max-width: 640px) {
  main .gallery h1 {
    font-size: 4em;
  }
  main .gallery p {
    font-size: 1.5em;
    margin-bottom: 2em;
    width: 95%;
  }
}
main .contact {
  background-color: rgb(255, 255, 255);
}
main .contact .contact-wrap {
  display: flex;
  justify-content: space-evenly;
  padding: 2vw;
}
main .contact .contact-wrap .contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}
main .contact .contact-wrap .contact-form p {
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 0.5em;
}
main .contact .contact-wrap .contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 1.5em;
  padding: 3em;
  border-top: 5px rgb(19, 133, 19) solid;
  box-shadow: 0px 0px 5px 2px rgb(219, 219, 219);
}
main .contact .contact-wrap .contact-form form .form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 300px;
}
main .contact .contact-wrap .contact-form form .form-group label {
  float: left;
}
main .contact .contact-wrap .contact-form form .form-group input, main .contact .contact-wrap .contact-form form .form-group .message, main .contact .contact-wrap .contact-form form .form-group #select {
  width: 300px;
  padding: 0.5em;
  font-size: 18px;
  border: 1px rgb(19, 133, 19) solid;
  background-color: white;
  resize: vertical;
  max-height: 30vh;
}
main .contact .contact-wrap .contact-form form .submit-btn {
  border: none;
  margin-top: 1em;
  width: 300px;
  padding: 0.5em;
  font-size: 18px;
  background-color: rgb(0, 116, 44);
  color: white;
}
main .contact .contact-wrap .contact-form form .submit-btn:hover {
  background-color: rgb(0, 0, 0);
  transition: all 0.5s;
  cursor: pointer;
}
main .contact .contact-wrap .contact-info {
  border-top: 5px green solid;
  width: 85%;
  text-align: left;
  margin-top: 1.5em;
}
main .contact .contact-wrap .contact-info p {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1.5em;
  margin-top: 1em;
}
main .contact .contact-wrap .contact-info h2 {
  font-size: 16px;
  font-weight: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 2em;
}
main .contact .contact-wrap .contact-info i {
  margin-right: 1em;
  color: rgb(19, 133, 19);
}
main .contact .contact-wrap .contact-info img {
  border-bottom: 10px orange solid;
  border-top: 10px rgb(17, 0, 92) solid;
}
main .contact .contact-wrap .contact-info .socials {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(19, 133, 19);
}
main .contact .contact-wrap .contact-info .socials i {
  font-size: 1em;
  color: white;
  padding: 0.5em;
  margin: auto;
}
main .contact .contact-wrap .contact-info .socials i:hover {
  background-color: rgb(44, 44, 44);
  transition: 0.5s;
}
@media (max-width: 800px) {
  main .contact .contact-wrap {
    flex-direction: column;
  }
  main .contact .contact-wrap .contact-form {
    width: 100%;
  }
  main .contact .contact-wrap .contact-info {
    width: 100%;
    text-align: center;
  }
  main .contact .contact-wrap .contact-info .socials {
    margin: auto;
  }
}

.single-service-wrap {
  padding-top: 5%;
  text-align: center;
}
.single-service-wrap .single-service-title {
  width: 50%;
  margin: auto;
  font-size: 4em;
  color: rgb(19, 133, 19);
  margin-bottom: 1em;
}
.single-service-wrap .single-service-content {
  width: 50%;
  margin: auto;
  font-size: 2em;
  margin-bottom: 5em;
}
.single-service-wrap .single-service-image {
  margin-top: 3em;
}

* {
  margin: 0px;
  padding: 0px;
  overflow: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Darker Grotesque";
}

html {
  width: 100vw;
}

@media (max-width: 480px) {
  html, body {
    width: auto !important;
    overflow-x: hidden !important;
  }
}
.btn {
  font-size: 2em;
  padding: 0.5em;
  width: 20%;
  margin: 1em;
  border: none;
  background-color: rgb(19, 133, 19);
  color: white;
}

.single-service-wrap {
  padding-top: 5%;
  text-align: center;
}
.single-service-wrap .single-service-title {
  width: 50%;
  margin: auto;
  font-size: 4em;
  color: rgb(19, 133, 19);
  margin-bottom: 1em;
}
.single-service-wrap .single-service-content {
  width: 50%;
  margin: auto;
  font-size: 2em;
  margin-bottom: 5em;
}
.single-service-wrap .single-service-image {
  margin-top: 3em;
}

@media only screen and (min-width: 1000px) {
  header .nav {
    left: 80%;
    top: 96%;
    display: flex;
  }
  header .nav li a {
    font-size: 1.5em;
  }
  header .heading1 {
    top: 30%;
  }
  header .heading2 {
    top: 38%;
    font-size: 4em;
  }
  header .heading3 {
    top: 46%;
  }
  header .heading4 {
    top: 53%;
  }
  .home img {
    width: 600px;
  }
  .services-wrap {
    width: 88%;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 420px) {
  .services-wrap .service .service-btn {
    margin-top: 0em;
    top: 89%;
  }
}
@media only screen and (min-width: 1000px) {
  .testimonial .testimonial-pic {
    margin-top: 0.5em;
  }
}/*# sourceMappingURL=style.css.map */